DATALAKE_USER=votre_nom_du_user_minio
DATALAKE_PASSWORD=votre_mot_de_passe_minio
POSTGRES_USER=votre_nom_du_user_postgres
POSTGRES_PASSWORD=votre_mot_de_passe_postgres
POSTGRES_DB=votre_nom_de_la_base_de_donnees
OPENWEATHER_API_KEY=votre_cle_api_openweather

MARIMO_ANALYTICS_PORT=votre_port_marimo_analytics