airflow/scripts/aws-java-sdk-bundle-1.12.262.jar filter=lfs diff=lfs merge=lfs -text
airflow/scripts/hadoop-aws-3.3.4.jar filter=lfs diff=lfs merge=lfs -text
airflow/scripts/postgresql-42.7.3.jar filter=lfs diff=lfs merge=lfs -text
